.logo {
    width: 68px;
}

.conteudo {
    background: #ffd54f;
}

.form-default {
    margin-bottom: -0.5%;
    padding: 0.5% 15% 0.5%;
}

.content-border-default {
    border-radius: 20px;
    padding-bottom: 15px;
}

.form-login-data {
    text-align: center;
}

.form-login-data .row{
    margin-left: 32%;
}

.subButton {
    margin-left: 42%;
}

.form-entregador-content {
    height: 400px;
    margin-top: 2%;
}

.form-entregador-data {
    text-align: center;
}
